[submodule "modules/qacode"]
	path = modules/qacode
	url = https://github.com/netzulo/qacode.git
[submodule "modules/qadoc"]
	path = modules/qadoc
	url = https://github.com/netzulo/qadoc.git
[submodule "modules/qadmin"]
	path = modules/qadmin
	url = https://github.com/netzulo/qadmin.git
[submodule "modules/qadrivers"]
        path = modules/qadrivers
        url = https://github.com/netzulo/qadrivers.git
[submodule "modules/qatestlink"]
	path = modules/qatestlink
	url = https://github.com/netzulo/qatestlink
